<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Forum.master.cs" Inherits="Forum.Forum.Forum" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1><asp:HyperLink runat="server" ID="HyperLinkForumHome" NavigateUrl="~/forum/home" Text="Forum" /></h1>

    <asp:ContentPlaceHolder ID="ForumMainContent" runat="server">
    </asp:ContentPlaceHolder>
       
</asp:Content>
